	<div class="row">
		<div name="status" class="col-md-5">Status</div>
		<div name="data" class="col-md-5">{{ status }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Size</div>
		<div name="data" class="col-md-5">{{ size }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Speed</div>
		<div name="data" class="col-md-5">{{ speed }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Parts</div>
		<div name="data" class="col-md-5">{{ parts }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Parts lenght</div>
		<div name="data" class="col-md-5">{{ pieceLength }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Nbr. connexions</div>
		<div name="data" class="col-md-5">{{ connections }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Error message</div>
		<div name="data" class="col-md-5">{{ errorCode }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Saved to</div>
		<div name="data" class="col-md-5">{{ dir }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Files</div>
		<div name="data" class="col-md-5"></div>
	</div>