	<div class="row">
		<div name="status" class="col-md-5">Status</div>
		<div name="data" class="col-md-5">{{ download.status }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Size</div>
		<div name="data" class="col-md-5">{{ download.totalLength }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Speed</div>
		<div name="data" class="col-md-5">{{ download.downloadSpeed }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Parts</div>
		<div name="data" class="col-md-5">{{ download.numPieces }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Parts lenght</div>
		<div name="data" class="col-md-5">{{ download.pieceLength }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Nbr. connexions</div>
		<div name="data" class="col-md-5">{{ download.connections }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Error message</div>
		<div name="data" class="col-md-5">{{ download.errorMessage }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Saved to</div>
		<div name="data" class="col-md-5">{{ download.dir }}</div>
	</div>
	<div class="row">
		<div name="status" class="col-md-5">Files</div>
		<div name="data" class="col-md-5"> TODO </div>
	</div>