{% extends "::base.html.twig" %}

{% block javascripts %}
<script type="text/javascript">

	var urlInfos = "/app_dev.php/generalInfo"; //TODO : use asset twig instead
	var urlStatus = "{{ path('d9_status_app', {'gid' : 'PLACEHOLDER'}) }}";
	var urlAddUrl = "{{ path('d9_add_url_app', {'url' : 'PLACEHOLDER'}) }}";
	var interval = 1000 * 2 * 1; // ms * s * m 
	var cluster = "{{ app.session.get('aria2_server') }}";
	
	$(document).ready(function() {
		//setInterval(refreshInfos, interval);
		$('#addUrl_valider').click(function () {
			console.log('pret');
		});

		ping(cluster);
	});

	// AJAX to get info from controller 
	function refreshInfos() {
		$.ajax({
			url: urlInfos,
			type : 'POST',
			dataType : 'json',
			success: function(data) {
				constructDList(data);
			},
			error: function() {
				console.log('error');
			}
		})
	}

	// treat AJAX RESPONSE to set download list view
	function constructDList(data) {
		var dbStatus = databaseStatus(data['db_error']);
		if(dbStatus == 'OK') {
			for (var dl of data['DLList']) {
				var id = 'dl_'+dl['gid'];
				var elem = document.getElementById(id);
				if(elem === null){
					var html = "<tr id='"+id+"'>";
					html += "<td>"+dl['id']+"</td>";
					html += "<td onclick='gidInfos(this)' class='gidClick'>"+dl['gid']+"</td>";
					html += "</tr>";
					$('tbody').append(html);
				} else {
					console.log(elem+' already exist');
				}
			}
		} else {
			$('tbody').children().remove();
		}
	}

	function gidInfos(e) {
		let value = $(e).text()
		let url = urlStatus.replace("PLACEHOLDER", value);;
	  	let key = 'gid'
		 $.ajax({
	 		url: url,
	 		type: 'POST',
	 		dataType: 'html',
	 		success: function(data) {
		 		if($('#leftContent').children().length > 0)
			 		{
		 				$('#leftContent').empty();
		 			}
		 		$('#leftContent').append(data);
	 		},
	 		error: function() {
	 			console.log('error');
	 		}
	 	})
	}

	// treat AJAX RESPONSE to set selected download status
	function setGidInfo(status) {
		for (let variable of status) {

		}
	}

	function databaseStatus(error){
		var statusOK = "<div class='statusOK'> Database ONLINE </div>"
		var statusKO = "<div class='statusKO'> Database OFFLINE </div>"
		$("#database").children().remove();
		if(error != null) {
			$("#database").append(statusKO);
			console.log('KO');
			return 'KO';
		} else {
			$("#database").append(statusOK);
			console.log('OK');
			return 'OK';
		}
	}

	function ariaServiceStatus(error){
		var statusOK = "<div class='statusOK'>Aria2 ONLINE</div>"
		var statusKO = "<div class='statusKO'>Aria2 OFFLINE</div>"
		$("#cluster").children().remove();
		if(error != null) {
			$("#cluster").append(statusKO);
			console.log('KO');
			return 'KO';
		} else {
			$("#cluster").append(statusOK);
			console.log('OK');
			return 'OK';
		}
	}

	function ping(ip) {
		/*console.log(cluster);
		$.ajax({
			url: cluster,
			type: 'GET',
			dataType: 'text',
			success: function(data) {
				isUp();
			},
			error: function(data) {
				isDown();
			}
		});*/
		
			var ws = new WebSocket("ws://192.168.0.11:6800/jsonrpc");
			ws.onerror = function(e){
				isDown();
				ws = null;
			};
			setTimeout(function() { 
				if(ws != null) {
					ws.close();
					ws = null;
					isUp();
				}
			},2000);
	}
	
	function isUp() {
		ariaServiceStatus(null)
	}

	function isDown() {
		ariaServiceStatus('error')
	}

</script>
{% endblock %}

{% block title %}
{{ 'app.common.title' | trans }}
{% endblock %}

{% block body %}
<div class="main_header">
	<div>
		<div class="col-md-5 main_title">
			<a href="{{ path('d9_accueil_app') }}"> {{ 'app.common.title' | trans }}
			</a>
		</div>
		<div id="system_info">
			<div id="cluster"></div>
			<div id="database"></div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 leftPanel">
			{% block nav_content %}
			<div id="leftContent"></div>
			{% endblock %}
		</div>
		<div class="col-md-8">
			{% block middle_content %}
			{% endblock %}
		</div>
		<div class="col-md-2">
			{% block right_content %}
			<div id="rightContent">
				<div id="quickActionList" class="col-md-12">
					<div id="actionTitle">Actions simples</div>
					<div id="actionContent">
						<div id="actionRefresh" class="quickAction"
							onclick="refreshInfos()">&#187; Refresh</div>
						<div id="actionAdd" class="quickAction" data-toggle="modal"
							data-target="#modal_addUrl">
							&#187;
							{{ 'app.nav.action1' | trans }}
						</div>
					</div>
				</div>
				{% endblock %}
			</div>
		</div>
	</div>
	<div>
		{% block bottom_content %}
		{% include "::footer_dev.html.twig" %}
		{% endblock %}
	</div>

</div>
</div>
{% include '@App/Accueil/templates/modal_addUrl.html.twig' %}
{% endblock %}
